.title {
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
    background-color: blanchedalmond;
    color: black;
    font-size: 22px;
    font-family: cursive;
}

.form-group {
    padding: 5px;
}

.card {
    text-align: center;
    justify-content: center;
    border-radius: 30px;
}

.card-title {
    margin: 0;
}

.card-subtitle {
    margin: 0;
}

.card-text {
    margin: 0;
}

.btn {
    margin: 5px;
}